h1{
    text-align: center;
    font-family: 'Questrian';
}
h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
#dollar{
    margin-left: 550px;
    height: 20px;
    border-radius: 3px;
}
#naira{
    margin-left: 550px;
    height: 20px;
    border-radius: 5px;
}
.container{
    background-color: rgb(244, 241, 241);
}
button{
    margin-left: 585px;
    background-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
}